@using App.Domin.Core._01_Purchause.Contracts.Repositories.Dtos;
@using BidLand.Framework.Common;
@model CartRepoDto?


<div class="container mt-5">
	<h2 class="mb-4">تاریخچه خرید</h2>


	<!-- Product Cards -->
	<div class="col-lg-12 col-md-12 col-sm-12 mb-4">
		<div class="card">
			<div class="card-body">
@*				<p class="fa-bold">ارزش کل خرید :</p>
				<p class="">@Model.Value</p>
				<p class="fa-bold">تاریخ خرید :</p>
				<p class="">@DateConvertor.ConvertGregorianToPersian(Model.PurchaseDate??DateTime.Now)</p>*@
				<p class="fa-bold">لیست اقلام :</p>
				<hr />

				<div class="table-responsive">
					<table class="table app-table-hover mb-0 text-left">
						<thead>
							<tr>

								<th class="cell">شناسه</th>
								<th class="cell">نام فروشگاه</th>
								<th class="cell">نام محصول</th>
								<th class="cell">تاریخ ایجاد</th>
								<th class="cell">تعداد</th>
								<th class="cell">قیمت</th>
								@*<th class="cell">وضعیت</th>*@
								<th class="cell">عملیات</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var stock in Model.StocksCarts)
							{


								<tr>
									<td class="cell">@stock.Id</td>
									<td class="cell"><span>@stock.Stock.Booth.Name</span></td>
									<td class="cell"><span class="truncate">@stock.Stock.Product.Name</span></td>
									<td class="cell"><span>@DateConvertor.ConvertGregorianToPersian(Model.InsertionDate??DateTime.Now)</span></td>
									<td class="cell"><span>@stock.Quantity</span></td>
									<td class="cell"><span>@(stock.Quantity * stock.Stock.Price)</span></td>
									@*<td class="cell">
								@if (Model.IsDelete)
								{
								<span class='badge bg-warning'>حذف شده</span>
								}
								else
								{
								<span class='badge bg-success'>فعال</span>
								}
								</td>*@
									<td class="cell">
									@if (stock.Stock.IsDelete == false)
									{
										
											<a href="/product/stockinfo/@stock.Stock.Id">برو به صفحه کالا</a>
											
									}
										<a class="btn btn-danger" href="/buyer/buyer/DeleteStocksCart/@stock.Id"> حذف کالا </a>
										</td>

								</tr>



							}

						</tbody>
					</table>
				</div><!--//table-responsive-->
				<hr/>

				<h3>مبلغ کل سبد خرید :</h3>
				<p>@Model.Value</p>
				@*<a href="#" class="btn btn-primary">Add to Cart</a>*@
			</div>
		</div>
	</div>
	<a class="btn btn-primary" href="/buyer/buyer/paycart/@Model.Id"> تسویه سبد خرید </a>



</div>