@using App.Domin.Core._01_Purchause.Contracts.Repositories.Dtos
@{
    ViewBag.PageTitle = "محصولات";
}
<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">

        <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-auto">
                <h1 class="app-page-title mb-0">@ViewBag.PageTitle</h1> @Html.ActionLink("افزودن" , "Create")
            </div>

        </div><!--//row-->


        <nav id="products-table-tab" class="products-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
            <a class="flex-sm-fill text-sm-center nav-link active" id="product-pending-tab" data-bs-toggle="tab" href="#products-pending" role="tab" aria-controls="products-pending" aria-selected="true">درانتظار</a>
            <a class="flex-sm-fill text-sm-center nav-link " id="product-confirmed-tab" data-bs-toggle="tab" href="#products-confirmed" role="tab" aria-controls="products-confirmed" aria-selected="true">تایید شده</a>

        </nav>


        <div class="tab-content" id="products-table-tab-content">
            <div class="tab-pane fade show active" id="products-pending" role="tabpanel" aria-labelledby="products-all-tab">
                <div class="app-card app-card-orders-table shadow-sm mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            <table class="table app-table-hover mb-0 text-left">
                                <thead>
                                    <tr>

                                        <th class="cell">شناسه</th>
                                        <th class="cell">شرح کالا</th>
                                        <th class="cell">دسته بندی</th>
                                        <th class="cell">تاریخ ایجاد</th>
                                        <th class="cell">تایید</th>
                                        <th class="cell">عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ProductRepoDto p in (List<ProductRepoDto>)ViewBag.PendingProducts)
                                    {
                                        <tr>
                                            <td class="cell">@p.Id</td>
                                            <td class="cell">
                                                <span class="truncate">
                                                    @p.Name </span>
                                                    <hr >
                                                    @foreach (var item in p.Images)
                                                    {
                                                        <span><img height="30" width="30" src="/uploads/products/@item.Url" />      </span>
                                                    }
                                               
                                            </td>
                                            <td class="cell">@p.Category.Name</td>
                                            <td class="cell"><span>@p.InsertionDate?.ToString("yyyy/MM/dd")</span><span class="note">@p.InsertionDate?.ToString("hh:mm tt")</span></td>
                                            <td class="cell">
                                                @{
                                                    if ((bool)p.IsConfirm)
                                                    {
                                                        <span class='badge bg-success'>بله</span>
                                                    }
                                                    else
                                                    {
                                                        <span class='badge bg-warning'>خیر</span>
                                                    }
                                                }
                                            </td>
                                            <td class="cell">

                                                @{
                                                    if ((bool)p.IsConfirm)
                                                    {
                                                        <a href="/Admin/Products/ConfirmProduct/@p.Id?isConfirm=false">رد</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="/Admin/Products/ConfirmProduct/@p.Id?isConfirm=true">تایید</a>
                                                    }
                                                }
                                                <a href="/Admin/Products/Delete/@p.Id">حذف</a>
                                                <a href="/Admin/Products/Edit/@p.Id">ویرایش</a>
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div><!--//table-responsive-->

                    </div><!--//app-card-body-->
                </div><!--//app-card-->

            </div><!--//tab-pane-->

            <div class="tab-pane fade" id="products-confirmed" role="tabpanel" aria-labelledby="products-confirmed-tab">
                <div class="app-card app-card-orders-table mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">

                            <table class="table app-table-hover mb-0 text-left">
                                <thead>
                                    <tr>

                                        <th class="cell">شناسه</th>
                                        <th class="cell">شرح کالا</th>
                                        <th class="cell">دسته بندی</th>
                                        <th class="cell">تاریخ ایجاد</th>
                                        <th class="cell">تایید</th>
                                        <th class="cell">عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ProductRepoDto p in (List<ProductRepoDto>)ViewBag.ConfirmedProducts)
                                    {
                                        <tr>
                                            <td class="cell">@p.Id</td>
                                            <td class="cell"><span class="truncate">@p.Name</span></td>
                                            <td class="cell">@p.Category.Name</td>
                                            <td class="cell"><span>@p.InsertionDate?.ToString("yyyy/MM/dd")</span><span class="note">@p.InsertionDate?.ToString("hh:mm tt")</span></td>
                                            <td class="cell">
                                                @{
                                                    if ((bool)p.IsConfirm)
                                                    {
                                                        <span class='badge bg-success'>بله</span>
                                                    }
                                                    else
                                                    {
                                                        <span class='badge bg-warning'>خیر</span>
                                                    }
                                                }
                                            </td>
                                            <td class="cell">

                                                @{
                                                    if ((bool)p.IsConfirm)
                                                    {
                                                        <a href="/Admin/Products/ConfirmProduct/@p.Id?isConfirm=false">رد</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="/Admin/Products/ConfirmProduct/@p.Id?isConfirm=true">تایید</a>
                                                    }
                                                }
                                                <a href="/Admin/Products/Delete/@p.Id">حذف</a>
                                                <a href="/Admin/Products/Edit/@p.Id">ویرایش</a>
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div><!--//table-responsive-->
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div><!--//tab-pane-->


        </div><!--//tab-content-->



    </div><!--//container-fluid-->
</div><!--//app-content-->
