@using App.Domin.Core._01_Purchause.Contracts.Repositories.Dtos
@using BidLand.Framework.Common;
@model BoothRepoDto
@{
	ViewBag.PageTitle = "فروشگاه";
}
<div class="app-content pt-3 p-md-3 p-lg-4">
	<div class="container-xl">

		<div class="row g-3 mb-4 align-items-center justify-content-between">
			<div class="col-auto">
			</div>

		</div><!--//row-->


		<nav id="products-table-tab" class="products-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
			<a class="flex-sm-fill text-sm-center nav-link active" id="product-pending-tab" data-bs-toggle="tab" href="#products-pending" role="tab" aria-controls="products-pending" aria-selected="true">فروشگاه شما</a>

			@*<h1 class="app-page-title mb-0">@ViewBag.PageTitle</h1>*@

		</nav>

		<h3> مشخصات فروشگاه</h3>
		<div class="tab-content" id="products-table-tab-content">
			<div class="tab-pane fade show active" id="products-pending" role="tabpanel" aria-labelledby="products-all-tab">
				<div class="app-card app-card-orders-table shadow-sm mb-5">
					<div class="app-card-body">
						<div class="table-responsive">
							<table class="table app-table-hover mb-0 text-left">
								<thead>
									<tr>

										<th class="cell">شناسه</th>
										<th class="cell">نام فروشگاه</th>
										<th class="cell">تاریخ ایجاد</th>
										<th class="cell">شرح</th>
										<th class="cell">وضعیت</th>
									</tr>
								</thead>
								<tbody>

									<tr>
										<td class="cell">@Model.Id</td>
										<td class="cell"><span class="truncate">@Model.Name</span></td>
										<td class="cell"><span>@DateConvertor.ConvertGregorianToPersian(Model.InsertionDate??DateTime.Now)</span></td>
										<td class="cell"><span>@Model.Description</span></td>
										<td class="cell">
											@if (Model.Seller.Medal.LevelType == App.Domin.Core._03_Extras.Enums.MedalEnum.Bronze)
											{
												<span class='badge bg-warning'>سطح برنزی</span>
											}
											else if (Model.Seller.Medal.LevelType == App.Domin.Core._03_Extras.Enums.MedalEnum.Silver)
											{
												<span class='badge bg-secondary'>سطح نقره ای</span>
											}
											else if (Model.Seller.Medal.LevelType == App.Domin.Core._03_Extras.Enums.MedalEnum.Gold)
											{
												<span class='badge bg-success'>سطح طلایی</span>
											}
										</td>
									</tr>


								</tbody>
							</table>
						</div><!--//table-responsive-->

					</div><!--//app-card-body-->
				</div><!--//app-card-->

			</div><!--//tab-pane-->

			<h3> کالاهای فروشگاه</h3>
			<div class="tab-pane fade show active" id="products-pending" role="tabpanel" aria-labelledby="products-all-tab">
				<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
					@foreach (var s in Model.Stocks)
					{
						<div class="col">
							<div class="card">
								<img src="/uploads/products/@s.Product.Images.First().Url" class="card-img-top" alt="Product Image" style="height:300px ; width:300px;">
								<div class="card-body">
									<h5 class="card-title">@s.Product.Name</h5>
									<p class="card-text">@DateConvertor.ConvertGregorianToPersian(s.InsertionDate ?? DateTime.Now)</p>
									<p class="card-text"><strong>قیمت: </strong>@s.Price</p>
									<p class="card-text"><strong>توضیحات: </strong>@s.AdditionalDescription</p>
									<p class="card-text">
										@if (s.IsAuction)
										{
											<span class='badge bg-primary'>مزایده فعال</span>
										}
										else
										{
											<span class='badge bg-secondary'>مزایده غیرفعال</span>
										}
									</p>
									<a href="/product/stockinfo/@s.Id" class="btn btn-primary">مشاهده کالا</a>
									@if (s.IsAuction == true)
									{
										<a href="/product/auctiondetail?stockId=@s.Id&boothId=@Model.Id" class="btn btn-secondary">مشاهده حراجی</a>
									}
								</div>
							</div>
						</div>
					}
				</div>
			</div>


		</div><!--//tab-content-->

	</div><!--//container-fluid-->
</div><!--//app-content-->
