@using App.Domin.Core._01_Purchause.Contracts.Repositories.Dtos
@using BidLand.Framework.Common;
@model AuctionRepoDto

@{
	ViewBag.PageTitle = "حراجی";
}



<div class="app-content pt-3 p-md-3 p-lg-4">
	<div class="container-xl">
		<h1 class="app-page-title">@ViewBag.PageTitle @Model.Stock.Product.Name</h1>
		<hr class="mb-4">
		<div class="row g-4 settings-section">

			<div class="col-12 col-md-12">
				<div class="app-card app-card-settings shadow-sm p-4">

					<div class="app-card-body">
						<form class="settings-form" method="post" asp-action="EditAuction" enctype="form-data">
							@*
							<div class="mb-3">
							<label asp-for="Name" class="form-label">دسته بندی</label>
							@Html.DropDownList("CategoryId", @ViewBag.Categories as SelectList , "انتخاب دسته بندی", new { @class = "form-control"})
							</div>*@
							
							@Html.HiddenFor(x=>x.StartDate)
							@Html.HiddenFor(x=>x.EndDate)
							@Html.HiddenFor(x=>x.CurrentHighestPrice)
							@Html.HiddenFor(x=>x.InsertionDate)
							<input id="StockId" name="StockId" type="hidden" value="@Model.StockId" />
							<input id="Id" name="Id" type="hidden" value="@Model.Id" />
							@*<div class="mb-3">
								<label class="form-label">@Model.Stock.Product.Name</label>
							</div>*@
							<div class="mb-3">
								<label asp-for="MinimumFinalPrice" class="form-label">حداقل قیمت فروش نهایی</label>
								<input type="text" class="form-control" asp-for="MinimumFinalPrice" value="@Model.MinimumFinalPrice" required>
							</div>
							<div class="mb-3">
								<label asp-for="StartDate" class="form-label">تاریخ شروع</label>
								:<br/>
								<label asp-for="StartDate" class="form-label">@DateConvertor.ConvertGregorianToPersian(Model.StartDate??DateTime.Now)</label>
								@*<input type="datetime" class="form-control" asp-for="StartDate" required>*@
								@*@Html.TextBoxFor(model => model.StartDate,
								new { type = "date" })*@
							</div>
							<div class="mb-3">
								<label asp-for="EndDate" class="form-label">تاریخ پایان</label>
								:<br/>
								<label asp-for="EndDate" class="form-label">@DateConvertor.ConvertGregorianToPersian(Model.EndDate??DateTime.Now)</label>
								@*<input type="datetime" class="form-control" asp-for="EndDate" required>*@
								@*@Html.TextBoxFor(model => model.EndDate,
								new { type = "date" })*@
							</div>

							<div class="mb-3">
								<label asp-for="IsDelete" class="form-label">حذف شده</label>
								<input type="checkbox" asp-for="IsDelete" />
							</div>

							<div class="mb-3">
								<label asp-for="IsActive" class="form-label">فعال</label>
								<input type="checkbox" asp-for="IsActive" checked />
							</div>

							<button type="submit" class="btn app-btn-primary">ویرایش</button>
						</form>
					</div><!--//app-card-body-->

				</div><!--//app-card-->
			</div>
		</div><!--//row-->
		<hr/>
		<h3> پیشنهادات حراجی</h3>
		<br/>
		<div class="tab-pane fade show active" id="products-pending" role="tabpanel" aria-labelledby="products-all-tab">
			<div class="app-card app-card-orders-table shadow-sm mb-5">
				<div class="app-card-body">
					<div class="table-responsive">
						<table class="table app-table-hover mb-0 text-left">
							<thead>
								<tr>

									<th class="cell">شناسه</th>
									<th class="cell">نام خریدار</th>
									<th class="cell">نام خانوادگی خریدار</th>
									<th class="cell">قیمت</th>
									<th class="cell"> تاریخ</th>
									<th class="cell"> برنده شده</th>
									@*							<th class="cell">عملیات</th>*@
								</tr>
							</thead>
							<tbody>


								@foreach (var s in Model.Bids)
								{
									<tr>
										<td class="cell">@s.Id</td>
										<td class="cell"><span class="truncate">@s.Buyer.User.Firstname</span></td>
										<td class="cell"><span class="truncate">@s.Buyer.User.Lastname</span></td>
										<td class="cell"><span>@s.Price</span></td>
										@*<td class="cell"><span>@p.InsertionDate?.ToString("yyyy/MM/dd")</span><span class="note">@p.InsertionDate?.ToString("hh:mm tt")</span></td>*@
										<td class="cell"><span>@DateConvertor.ConvertGregorianToPersian(s.BidDate??DateTime.Now)</span></td>
										<td class="cell">
											@if (s.HasWon == false)
											{
												<span class='badge bg-secondary'>برنده نشده</span>
											}
											else
											{
												<span class='badge bg-success'>برنده شده</span>
											}
										</td>
										@*
									<td class="cell">
									<a href="/Seller/Booth/EditStock/@s.Id">ویرایش</a>
									|
									@if (s.IsAuction == false && s.IsActive == true && s.IsDelete == false)
									{
									<a class="btn app-btn-primary" href="/Seller/Booth/AddAuctionStock/@s.Id">افزودن به حراجی</a>
									}
									@if (s.IsAuction == true)
									{
									<a class="btn app-btn-secondary" href="/Seller/Auction/index/@s.Id">مشاهده حراجی</a>
									//add auction page
									}

									</td>*@

									</tr>
								}

							</tbody>
						</table>
					</div><!--//table-responsive-->

				</div><!--//app-card-body-->
			</div><!--//app-card-->

		</div><!--//tab-pane-->

	</div><!--//container-fluid-->
</div><!--//app-content-->


